<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Tutorial of Develop</title>
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/list.css}">
</head>
<body>
    <header>
        <div>
            <h2><a th:href="@{/}">日報管理システム</a></h2>
            <span><a th:href="@{/employee/list}">従業員管理</a></span>
        </div>
        <nav>
            <ul>
            </ul>
        </nav>
    </header>
    <h2>従業員一覧(全件)</h2>
    <a th:href="@{/employee/regist}">従業員の登録</a>
    <table>
        <tr>
            <th>社員番号</th>
            <th>名前</th>
            <th></th>
        </tr>
        <tr th:each="employee : ${employeelist}">
            <td th:text="${employee.authentication.code}"></td>
            <td th:text="${employee.name}"></td>
            <td><a th:href="@{/employee/detail/{id}/(id=${employee.id})}">詳細表示</a></td>
        </tr>
    </table>
    <!-- 変更ここまで -->
</body>
</html>