<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Tutorial of Develop</title>
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/list.css}">
</head>
<body>
    <header>
        <div>
            <h2><a th:href="@{/}">日報管理システム</a></h2>
            <span><a th:href="@{/employee/list}">従業員管理</a></span>
        </div>
        <nav>
            <ul>
                <li><span th:text="${#authentication.principal.employee.name}"></span></li>
                <li><form method="post" th:action="@{/logout}"><input type="submit" value="ログアウト"></form></li>
            </ul>
        </nav>
    </header>
    <h2>日報管理システム</h2>
<br>
</body>
</html>