<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Tutorial of Develop</title>
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/list.css}">
</head>
<body>
    <header>
        <div>
            <h1><a th:href="@{/}">日報管理システム</a></h1>
            <span><a th:href="@{/employee/list}">従業員管理</a></span>
        </div>
        <nav>
            <ul>
            </ul>
        </nav>
    </header>
    <h2>日報管理システム</h2>
</body>
</html>